

.landing-image{

}

.nav-bar{

}


.card-panel{
  height:300px;
  /*border-radius: 15px;*/
  /*padding:60px;*/



}

.white-text{
 font-family: 'Satisfy', cursive;
 font-size: 35px;
}
#carousel{
 padding-left:25px;
 padding-right:25px;
  padding-top:20px;
  padding-bottom:20px;
}



.parallax-container  {
  
  
}

