.landing-image{

}

.nav-bar{

}


.card-panel{
  height:300px;
  border-radius: 15px;
  padding:60px;


}

#carousel{
  padding-left:160px;
  padding-right:160px;
  padding-top:20px;
}



.parallax-container  {
  
  
}
